@import url(//db.onlinewebfonts.com/c/1e6ec96c95301fa73aa1d026f161a269?family=MarzoW00-Regular);
@import url(//db.onlinewebfonts.com/c/9d097da6a9a781eb3dbfd8fe6cab0066?family=DINNextW01-CondensedRegular);
body{
    padding: 0px;
    margin: 0px;
}
body .main-main{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}
body .main-main .main-section{
    width: 100%;
}
body .main-main section header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    width: 100%;

}
body .main-main .main-section header nav .container-fluid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 90px;
    margin-top: 10px;
    /* grid-column-gap: 10px; */
}
body .main-main .main-section header nav .container-fluid .navbar-br-logo{
    width: 120px;
    height: 120px;
    border: #E5A148 solid 1px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
body .main-main .main-section header nav .container-fluid .navbar-br-logo .navbar-brand{
    width: 113px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    font-size: 29px;
    font-family: MarzoW00-Regular;
    margin: 10px;
    color: #E5A148;
    font-weight: 550;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
body .main-main .main-section header nav .container-fluid .navbar-collapse{
    display: flex;
    align-items: flex-start;
    margin: 100px;
    align-items: center;

}
body .main-main .main-section header nav .container-fluid .navbar-collapse ul{
    width: 500px;
    display: flex;
    justify-content: space-around;

}
body .main-main .main-section header nav .container-fluid .navbar-collapse ul li{
    display: inline-block;    
}
body .main-main .main-section header nav .container-fluid .navbar-collapse ul li a{
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: DINNextW01-CondensedRegular;
    color: black;

}
body .main-main .main-section header nav .container-fluid .navbar-collapse ul li a:hover{
    color: #657E01;
}
body .main-main .main-section header nav .container-fluid .navbar-collapse ul li .active{
    color: #657E01;
}
body .main-main .main-section header nav .container-fluid .navbar-collapse ul li .border{
    border-left: black solid 1px;
    /* border-right: black solid 1px; */
    padding: 25px;
}
body .main-main .main-section header nav .container-fluid .navbar-shopping{
    display: inline-flex;
    justify-content: space-around;
    margin: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100px;
}
body .main-main .main-section header nav .container-fluid .navbar-shopping .navbar-login{
    width: auto;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
body .main-main .main-section header nav .container-fluid .navbar-shopping .navbar-login .fa-user-circle{
    color: #657E01;
    width: 26px;
    height: 26px;
    margin: 5px;
}
body .main-main .main-section header nav .container-fluid .navbar-shopping .navbar-login p{
    font-size: 16px;
    color: #657E01;
    font-weight: 200;
    text-transform: capitalize;
    font-family: DINNextW01-CondensedRegular;
    letter-spacing: 0.5px;
    word-spacing: 4px;
}
body .main-main .main-section header nav .container-fluid .navbar-shopping .navbar-shop-bag{
    display: flex;
    justify-content: center;
}
body .main-main .main-section header nav .container-fluid .navbar-shopping .navbar-shop-bag svg{
    display: flex;
    justify-content: center;
    color: #657E01;
    font-size: 18px;
    font-family: DINNextW01-CondensedRegular;
    width: 20px;
    height: 20px;
    padding: 2px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 11px;
}

/* body .main-main .main-section header nav .container-fluid .navbar-shopping .navbar-shop-bag p{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-family: DINNextW01-CondensedRegular;
    background-image: url( '/src/icons/svg/shopping-bag-solid.svg' );
    width: 20px;
    height: 20px;
    padding: 2px;
    background-repeat: no-repeat;
    background-position: center;
} */

body .main-main .main-section main{
    display: flex;
    align-items: center;
    height: 1000px;
}

body .main-main .main-section main .grid-cen{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}